
.footer{
    color: white;
    background-color: rgba(128, 128, 128, 0.353);
    padding: 2px;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 1060px) {
    .footer {
        font-size: 15px;
    }
}